.titles {
    text-align: center;
}

.tdee-val-container {
    display: flex;
    justify-content: center;
    align-content: center;
    mat-icon {
      align-self: center;
      margin-right: 15px;
    }
    p {
      height: 13px;
    }
  }

  .adjustment-calories-container {
    margin-top: 50px;
    span {
      font-size: 0.7em;
      margin: 0;
    }
  }