<h2 class="titles">Total Daily Energy Expenditure</h2>
<div class="titles">
  <h3>What is my TDEE?</h3>
  <div class="tdee-val-container" *ngIf="tdeeInfo.tdee !== 0">
    <mat-icon>fitness_center</mat-icon>
    <p>{{ tdeeInfo.tdee }} Calories consumed a day to maintain current weight</p>
  </div>

  <div class="adjustment-calories-container" *ngIf="tdeeInfo.tdee !== 0">
    <div>
      <h4><b>Muscle Gain Calories</b></h4>
      <p>{{tdeeInfo.muscleGain}} Calories a day <span>*Try to fill with protein*</span></p>
    </div>
    <div>
      <h4><b>Fat Loss Calories</b></h4>
      <p>{{tdeeInfo.fatLoss}} Calores a day</p>
    </div>
  </div>
</div>
