<h1 class="titles">Dashboard</h1>
<div class="information-container">
    <div>
        <h2>Basal Metabolic Rate</h2>
        <p>Basal metabolic rate (BMR) and resting metabolic rate (RMR) both measure the amount of energy —‌in calories —that your body needs to stay alive and function properly. Many people use the two terms interchangeably, but they have slightly different meanings.</p>
    </div>

    <div>
        <h2>Body Mass Index</h2>
        <p>BMI, or body mass index, measures how healthy your weight is based on how tall you are. It gives you a clue to your risk for weight-related health problems. If you're over 20 and not pregnant, find out what your number is and what it means.</p>
    </div>
</div>