.title {
  text-align: center;
}

.bmi-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    width: 30%;
    min-width: 250px;
  }
  input {
    margin: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
    }
    .form-div {
      margin-top: 50%;
    }
  }
}

.bmi-val-container {
  display: flex;
  justify-content: center;
  align-content: center;
  mat-icon {
    align-self: center;
    margin-right: 15px;
  }
  p {
    height: 13px;
  }
}

.information-container {
  margin-top: 50px;
  ul {
    list-style: none;
  }
}