.titles {
    text-align: center;
}

.bmr-val-container {
    display: flex;
    justify-content: center;
    align-content: center;
    mat-icon {
      align-self: center;
      margin-right: 15px;
    }
    p {
      height: 13px;
    }
  }

  .bmr-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
    }
  }

  .height-container {
    display: flex;
    flex-direction: column;
  }